<div class="view-container">
    <p>view works!</p>

    <div class="item">
        {{DUDE}}
        {{TURKEY}}
        {{UGLY_TURKEY}}

    </div>
    <div class="item">
        {{DUDE}}
        {{TURKEY}}
        {{UGLY_TURKEY}}
        
    </div>
    <div class="item">
        {{DUDE}}
        {{TURKEY}}
        {{UGLY_TURKEY}}
        
    </div>
</div>

<div class="stuff">
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
</div>