<p>view works!</p>
<p>view works!</p>

{{DUDE}}
{{TURKEY}}
{{UGLY_TURKEY}}

{{DUDE}}
{{TURKEY}}
{{UGLY_TURKEY}}

<div class="stuff">
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
</div>

<div class="stuff">
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
</div>

<div class="stuff">
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
    <div class="dude">some stuff</div>
</div>
{{DUDE}}
{{TURKEY}}
{{UGLY_TURKEY}}

{{DUDE}}
{{TURKEY}}
{{UGLY_TURKEY}}

<p>some stuff</p>
<p>more stuff</p>
